html,body {
	position: relative;
	width: 100%;
	height: 100%;
	background: #666;
}
.header {
	position: fixed;
	bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 50px;
	margin: auto;
	background: #000;
}
.header .team-name{
	position: absolute;
	left: 10px;
	width: 100px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	font-family: "微软雅黑";
}
.header ul {
	width: 80%;
	height: 50px;
	margin: 0 auto;
}
.header ul li {
	float: left;
	width: 23%;
	height: 50px;
	margin-right: 2%;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
.body {
	width: 1000px;
	height: auto;
	padding: 50px 0;
	margin: 0 auto;
	background: #fff;
}
.body .aside {
	float: left;
	width: 200px;
	height: auto;
	background: green;
}
.body .content {
	float: left;
	width: 750px;
	height: auto;
	margin-left: 50px;
	background: red
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: auto;
	width: 100%;
	height: 50px;
	margin: auto;
	background: #000;
}